<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<a href="/searchClub">
    <div style="position:absolute;left:0px;border:0px ;width: 50%;height: 740px;background: darksalmon">
        <p
                style="text-align: center;line-height: 650px;height: 650px;color: white;">club info
        </p>
    </div>
</a>
<a href="/searchTrainer">
    <div style="position:absolute;right:0px;border:0px ;width: 50%;height: 740px;background: darkseagreen">
        <p
                style="text-align: center;line-height: 650px;height: 650px;color: white;">trainer info
        </p>
    </div>
</a>

</body>
</html>